## Data fields
* 날짜 - 범죄 사건의 타임 스탬프
* 범주 - 범죄 사건 카테고리 (train.csv에만 해당) 이 변수를 예측하는 게 이 경진대회 과제임
* 설명 - 범죄 사건에 대한 자세한 설명 (train.csv에만 있음)
* DayOfWeek - 요일
* PdDistrict - 경찰서 구의 이름
* 해결 방법 - 범죄 사건이 어떻게 해결 되었는지 (train.csv에서만)
* 주소 - 범죄 사건의 대략적인 주소
* X - 경도
* Y - 위도


* Dates - timestamp of the crime incident
* Category - category of the crime incident (only in train.csv). This is the target variable you are going to predict.
* Descript - detailed description of the crime incident (only in train.csv)
* DayOfWeek - the day of the week
* PdDistrict - name of the Police Department District
* Resolution - how the crime incident was resolved (only in train.csv)
* Address - the approximate street address of the crime incident 
* X - Longitude 
* Y - Latitude 


* 양이 많아짐으로서 데이터를 분석하는 전략이 달라짐
* 문자열, 숫자 넣는 방법, 좌표데이터, 주소데이터를 어떻게 분석해서 넣을것인가에 대한 노하우를 알게 될 것임
엑셀로 데이터를 열어보는 것을 추천

In [4]:
import pandas as pd

In [15]:
train = pd.read_csv('data/train.csv', parse_dates=["Dates"])
test =  pd.read_csv('data/test.csv', parse_dates=["Dates"])

In [17]:
# OAK ST / LAGUNA ST -> OAK ST & LAGUNA ST
train.head()

,Dates,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,2015-05-13 23:33:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,2015-05-13 23:30:00,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [16]:
test.head()

,Id,Dates,DayOfWeek,PdDistrict,Address,X,Y
0,0,2015-05-10 23:59:00,Sunday,BAYVIEW,2000 Block of THOMAS AV,-122.399588,37.735051
1,1,2015-05-10 23:51:00,Sunday,BAYVIEW,3RD ST / REVERE AV,-122.391523,37.732432
2,2,2015-05-10 23:50:00,Sunday,NORTHERN,2000 Block of GOUGH ST,-122.426002,37.792212
3,3,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412
4,4,2015-05-10 23:45:00,Sunday,INGLESIDE,4700 Block of MISSION ST,-122.437394,37.721412

In [18]:
feature_names = ["X", "Y"]
feature_names

['X', 'Y']

In [19]:
X_train = train[feature_names]

print(X_train.shape)
X_train.head()

(878049, 2)

            X          Y
0 -122.425892  37.774599
1 -122.425892  37.774599
2 -122.424363  37.800414
3 -122.426995  37.800873
4 -122.438738  37.771541

In [20]:
X_test = test[feature_names]

print(X_test.shape)
X_test.head()

(884262, 2)

            X          Y
0 -122.399588  37.735051
1 -122.391523  37.732432
2 -122.426002  37.792212
3 -122.437394  37.721412
4 -122.437394  37.721412

In [21]:
label_name = "Category"

y_train = train[label_name]

print(y_train.shape)
y_train.head()

(878049,)

0          WARRANTS
1    OTHER OFFENSES
2    OTHER OFFENSES
3     LARCENY/THEFT
4     LARCENY/THEFT
Name: Category, dtype: object

### RandomForest

In [22]:
# from sklearn.ensemble import RandomForestClassifier

# seed = 37

# model = RandomForestClassifier(random_state=37, n_jobs=-1)
# model

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=-1,
            oob_score=False, random_state=37, verbose=0, warm_start=False)

In [24]:
# from sklearn.model_selection import cross_val_score

# %time score = cross_val_score(model, X_train, y_train, cv=5, scoring="neg_log_loss").mean()

# print("Score = {0:.5f}".format(score))

CPU times: user 3min 5s, sys: 8.47 s, total: 3min 13s
Wall time: 1min 30s
Score = -6.73396

####  model, X_train, y_train, cv=5, 
CPU times: user 2min 54s, sys: 8.14 s, total: 3min 2s
Wall time: 1min 21s
Score = 0.26269


#### [San Francisco Crime Classification | Kaggle](https://www.kaggle.com/c/sf-crime#evaluation)
logloss=−1N∑i=1N∑j=1Myijlog(pij),

### XGBoost

In [28]:
import xgboost as xgb
model = xgb.XGBClassifier(n_estimators=15, nthread=-1, seed=37)
model

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=15, nthread=-1,
       objective='binary:logistic', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=37, silent=True, subsample=1)

In [29]:
%time score = cross_val_score(model, X_train, y_train, cv=5, scoring="neg_log_loss").mean()

print("Score = {0:.5f}".format(score))

CPU times: user 13min 37s, sys: 14.3 s, total: 13min 51s
Wall time: 14min 7s
Score = -2.81218

* 그라디언트 부스팅 머신이 기본임
* 섞어쓰는 것을 앙상블이라고 함
* 디시전+랜덤포레스트 => 배깅
* 스태킹은 그리 많이 안 씀
* 부스딩은 디시전트리로 많이 씀 정답과 y트레인이 정확하지 않음 그 차이를 두번째 트리 세번째트리...에 넣으며 정답과 예측을 보간한다.
* 트리를 계속 만들며 보간해 가는 것이 그라디언트부스팅
* XGB의 장점은 현존하는 알고리즘의 장점을 모두 넣어둠
* 사이킷런에도 그라디언트부스팅이 있는데 사용해 보면 XGB만큼의 성능이 나오지 않음
* 웬만하면 XGB로 대부분 해결이 가능하고 파라메터가 많음

* LGBM도 상당히 좋음 속도가 훨씬 빠름
* 하나를 더 쓴다면 RF를 쓴다.
* 트리모델이나 리니어모델을 사용

* 엑셀과 시각화로 분석해 보는 것을 추천함

* 노트북을 2개 틀고 하나는 시각화 하나는 알고리즘을 돌려본다.
* 가능한 엑셀과 시각화로 분석하는 습관을 연습한다.

[Paperspace: Your full computer in the cloud](https://www.paperspace.com/)

### Predict

In [32]:
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, colsample_bylevel=1, colsample_bytree=1,
       gamma=0, learning_rate=0.1, max_delta_step=0, max_depth=3,
       min_child_weight=1, missing=None, n_estimators=15, nthread=-1,
       objective='multi:softprob', reg_alpha=0, reg_lambda=1,
       scale_pos_weight=1, seed=37, silent=True, subsample=1)

In [34]:
# predict_proba 결과를 확률로 예측
predictions = model.predict_proba(X_test)

print(predictions.shape)
predictions[0]

(884262, 39)

array([ 0.01356191,  0.07389767,  0.01177335,  0.01186914,  0.03413098,
        0.01260796,  0.01293965,  0.03607652,  0.01262432,  0.01223478,
        0.01168966,  0.01196344,  0.01726453,  0.01776261,  0.01164579,
        0.0138286 ,  0.07055465,  0.01240707,  0.01190741,  0.04663624,
        0.0551002 ,  0.10478871,  0.01158336,  0.01182128,  0.01543034,
        0.03157561,  0.01253409,  0.01941617,  0.01395577,  0.01168982,
        0.01397707,  0.0119202 ,  0.03370471,  0.01157401,  0.0153227 ,
        0.04126912,  0.06713752,  0.03883071,  0.02099236], dtype=float32)

In [37]:
# 모두 출력
predictions[:,:].shape
# 첫번째 컬럼
predictions[:,1].shape

(884262,)

In [31]:
submission = pd.read_csv('data/SampleSubmission.csv', index_col='Id')

# 모든 범죄의 카테고리가 나오고 그 카테고리의 확률이 나옴
print(submission.shape)
submission.head()

(884262, 39)

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
Id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [40]:
for i, column in enumerate(submission.columns):
    submission[column] = predictions[:, i]

print(submission.shape)
submission.head()

(884262, 39)

,ARSON,ASSAULT,BAD CHECKS,BRIBERY,BURGLARY,DISORDERLY CONDUCT,DRIVING UNDER THE INFLUENCE,DRUG/NARCOTIC,DRUNKENNESS,EMBEZZLEMENT,...,SEX OFFENSES NON FORCIBLE,STOLEN PROPERTY,SUICIDE,SUSPICIOUS OCC,TREA,TRESPASS,VANDALISM,VEHICLE THEFT,WARRANTS,WEAPON LAWS
Id,,,,,,,,,,,,,,,,,,,,,
0,0.013562,0.073898,0.011773,0.011869,0.034131,0.012608,0.012940,0.036077,0.012624,0.012235,...,0.011690,0.013977,0.011920,0.033705,0.011574,0.015323,0.041269,0.067138,0.038831,0.020992
1,0.013898,0.075728,0.012065,0.012163,0.034976,0.012920,0.013260,0.036970,0.012937,0.012538,...,0.011979,0.014323,0.012215,0.034539,0.011861,0.015702,0.042291,0.048611,0.039792,0.021512
2,0.011959,0.051974,0.011695,0.011447,0.064669,0.012965,0.012434,0.021471,0.013255,0.012004,...,0.011410,0.014290,0.011561,0.027400,0.011346,0.015279,0.041543,0.053878,0.024129,0.013872
3,0.012403,0.073928,0.011567,0.011662,0.031971,0.012387,0.012669,0.029338,0.012499,0.011942,...,0.011485,0.013820,0.011712,0.032231,0.011372,0.014205,0.045358,0.075044,0.026464,0.017711
4,0.012403,0.073928,0.011567,0.011662,0.031971,0.012387,0.012669,0.029338,0.012499,0.011942,...,0.011485,0.013820,0.011712,0.032231,0.011372,0.014205,0.045358,0.075044,0.026464,0.017711

In [41]:
submission.to_csv("data/baseline-script.csv")