In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

s = pd.Series([1,3,5,np.nan, 6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [9]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [12]:
df2 = pd.DataFrame({ 'A' : 1.,
                'B' : pd.Timestamp('20130102'),
                'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                'D' : np.array([3] * 4,dtype='int32'),
                'E' : pd.Categorical(["test","train","test","train"]),
                'F' : 'foo' })

In [13]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df.head()

                   A         B         C         D
2013-01-01 -1.450870 -0.371471  0.741699  0.516515
2013-01-02  0.963812  1.600898 -0.901471  0.056282
2013-01-03  0.661209  0.224624 -0.772759 -1.631056
2013-01-04  0.658575  0.876108  1.123284  1.634720
2013-01-05 -1.565085  1.069657  0.321705 -1.926717

In [15]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.658575  0.876108  1.123284  1.634720
2013-01-05 -1.565085  1.069657  0.321705 -1.926717
2013-01-06 -1.202960 -1.103016 -1.696383 -1.054890

In [16]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [18]:
df.values

array([[-1.45087036, -0.37147058,  0.74169934,  0.51651476],
       [ 0.96381239,  1.60089842, -0.9014706 ,  0.0562817 ],
       [ 0.6612087 ,  0.2246243 , -0.77275915, -1.63105609],
       [ 0.65857452,  0.87610754,  1.12328423,  1.63472025],
       [-1.56508503,  1.06965726,  0.32170477, -1.92671689],
       [-1.20296033, -1.10301633, -1.69638325, -1.05488953]])

In [19]:
df.describe

<bound method NDFrame.describe of                    A         B         C         D
2013-01-01 -1.450870 -0.371471  0.741699  0.516515
2013-01-02  0.963812  1.600898 -0.901471  0.056282
2013-01-03  0.661209  0.224624 -0.772759 -1.631056
2013-01-04  0.658575  0.876108  1.123284  1.634720
2013-01-05 -1.565085  1.069657  0.321705 -1.926717
2013-01-06 -1.202960 -1.103016 -1.696383 -1.054890>

In [20]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.450870    0.963812    0.661209    0.658575   -1.565085   -1.202960
B   -0.371471    1.600898    0.224624    0.876108    1.069657   -1.103016
C    0.741699   -0.901471   -0.772759    1.123284    0.321705   -1.696383
D    0.516515    0.056282   -1.631056    1.634720   -1.926717   -1.054890

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.516515  0.741699 -0.371471 -1.450870
2013-01-02  0.056282 -0.901471  1.600898  0.963812
2013-01-03 -1.631056 -0.772759  0.224624  0.661209
2013-01-04  1.634720  1.123284  0.876108  0.658575
2013-01-05 -1.926717  0.321705  1.069657 -1.565085
2013-01-06 -1.054890 -1.696383 -1.103016 -1.202960

In [24]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-06 -1.202960 -1.103016 -1.696383 -1.054890
2013-01-01 -1.450870 -0.371471  0.741699  0.516515
2013-01-03  0.661209  0.224624 -0.772759 -1.631056
2013-01-04  0.658575  0.876108  1.123284  1.634720
2013-01-05 -1.565085  1.069657  0.321705 -1.926717
2013-01-02  0.963812  1.600898 -0.901471  0.056282

In [26]:
df[['A']]

                   A
2013-01-01 -1.450870
2013-01-02  0.963812
2013-01-03  0.661209
2013-01-04  0.658575
2013-01-05 -1.565085
2013-01-06 -1.202960

In [27]:
df[0:3]

                   A         B         C         D
2013-01-01 -1.450870 -0.371471  0.741699  0.516515
2013-01-02  0.963812  1.600898 -0.901471  0.056282
2013-01-03  0.661209  0.224624 -0.772759 -1.631056

In [28]:
df['20130102':'20130104']

                   A         B         C         D
2013-01-02  0.963812  1.600898 -0.901471  0.056282
2013-01-03  0.661209  0.224624 -0.772759 -1.631056
2013-01-04  0.658575  0.876108  1.123284  1.634720

In [33]:
df.loc[dates[0]]

A   -1.450870
B   -0.371471
C    0.741699
D    0.516515
Name: 2013-01-01 00:00:00, dtype: float64

In [34]:
df.loc[:, ['A','B']]

                   A         B
2013-01-01 -1.450870 -0.371471
2013-01-02  0.963812  1.600898
2013-01-03  0.661209  0.224624
2013-01-04  0.658575  0.876108
2013-01-05 -1.565085  1.069657
2013-01-06 -1.202960 -1.103016

In [35]:
df.loc['20130101':'20130105', ['A','B']]

                   A         B
2013-01-01 -1.450870 -0.371471
2013-01-02  0.963812  1.600898
2013-01-03  0.661209  0.224624
2013-01-04  0.658575  0.876108
2013-01-05 -1.565085  1.069657

In [36]:
df.loc['20130103', ['A','B']]

A    0.661209
B    0.224624
Name: 2013-01-03 00:00:00, dtype: float64

In [40]:
df.loc[dates[0], 'A']

-1.4508703561601499

In [41]:
df.at[dates[0], 'A']

-1.4508703561601499

In [42]:
df.iloc[3]

A    0.658575
B    0.876108
C    1.123284
D    1.634720
Name: 2013-01-04 00:00:00, dtype: float64